<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix India – Watch TV Shows Online, Watch Movies Online</title>
    <link rel="icon" href="../static/img/netflixicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>

<body>
    <!-- banner1 -->
    <div class="banner1">
        <!-- blackshade -->
        <div class="blackshade">
            <!-- Netflix signup bar container -->
            <div class="topbar">
                <!-- netflix img container -->
                <div class="topbarpart1">
                    <!-- netflix image -->
                    <div class="imgcontainer">
                        <img src="../static/img/netflix.png" alt="" class="Netflixpng">
                    </div>
                </div>
                <!-- netflix button section -->
                <div class="topbarpart2">
                    <div class="buttonpartside1"></div>
                    <div class="buttonpartside2">
                        <!-- dropdown text scetion -->
                        <div class="selectboxbutton_container">
                            <div class="selectbox">
                                <p class="englishtext">
                                    <img class="languagepng" src="../static/img/language.png" alt=""> English
                                    <img class="arrow" src="../static/img/arrow.png" alt="">
                                </p>
                            </div>
                        </div>
                        <!-- signup section -->
                        <div class="signupbutton_container">
                            <button class="signIn"><span id="signtext">Sign In</span></button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- textsection -->
            <div class="text_container">
                <div class="blag_container"></div>
                <div class="textpart_main_container">
                    <div class="vertical_container_text_part1"></div>
                    <!-- center text part area -->
                    <div class="textpart_palce">
                        <h2 class="text">Unlimited movies, TV <br>
                            &nbsp;&nbsp; shows and more.</h2>
                        <p class="subtitle">Watch anywhere. Cancel anytime.</p>
                        <p class="subsubtitle">Ready to watch? Enter your email to create or restart your membership.
                        </p>
                        <!-- Email area and button  -->
                        <div class="inputtext">
                            <div class="input"><input type="text" class="input_text" placeholder="Email Address"></div>
                            <div class="getstart"><button class="buttongetstart"><span class="start">Get started
                                        ></span> </button></div>
                        </div>
                    </div>
                    <div class="vertical_container_text_part2"></div>
                </div>
                <div class="blag_container"></div>
            </div>
        </div>
    </div>

    <div class="banner2">
        <div class="firstinnerdivTextpart">
            <div class="innerbannerheadingcontainer"></div>
            <div class="innerbannerfirstheadingcontainer">
                <div class="headingpart">
                    <h1 id="htext">Enjoy on your TV.</h1>
                </div>
                <div>
                    <h5 class="subtexts">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players
                        and <br> more.</h5>
                </div>
            </div>
            <div class="innerbannerheadingcontainer"></div>
        </div>
        <div class="secndinnerdivTextpart">
            <div class="tv">
                <video class="vedio" loop autoplay="autoplay">
                    <source src="../static/vedio/tv.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="banner3">
        <div class="firstinnerdivTextpart1">
            <div class="mobcontainer">
                <div class="mobail"> </div>
            </div>
            <div class="dcontainer">
                <video src="../static/vedio/download.mp4" class="download" loop autoplay="autoplay"></video>
            </div>
        </div>
    </div>
    <div class="secinnerdivTextpart2">
        <div class="innerbannerheadingcontainer"></div>
        <div class="innerheadingcontainer">
            <div class="headingpart1">
                <h1 id="h1text">Download your shows <br> to watch offline.</h1>
            </div>
            <div class="headingpart1">
                <h2 id="h2textpart">Save your favourites easily and always have <br> something to watch.</h2>
            </div>
        </div>
        <div class="innerbannerheadingcontainer"></div>
    </div>
    </div>


    <div class="banner4">
        <div class="innerpartbanner4ppart1">
            <div class="banner4part1blangspace"></div>
            <div class="banner4part1">
                <div class="innerTextbanner4part1">
                    <h1 id="hbanner4text">Watch everywhere.</h1>
                </div>
                <div class="innersubTextbanner4part1">
                    <h5 class="subtexts">Stream unlimited movies and TV shows on <br> your phone, tablet, laptop, and
                        TV.</h5>
                </div>
            </div>
            <div class="innerpartbanner4ppart2">
                <div class="macpng">
                    <video src="../static/vedio/mac.m4v" loop autoplay="autoplay" class="macvedio"> </video>
                </div>

            </div>
        </div>
    </div>

    <div class="banner5">
        <div class="innerbanner5part1">
            <div class="kidimage"></div>
        </div>
        <div class="innerbannerpart2">
            <div class="kidstextinnercontainer">
                <div class="kidsheadingpart">
                    <h1 class="hbanner5text">Create profiles for children.</h1>
                </div>
                <div class="kidssubtextpart">
                    <h2 class="kidssubtextparts">Send children on adventures with their favourite characters in a space
                        made just for them—free with your membership.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="banner6">
        <div class="innerpartbanner6">
            <div class="textpartbanner6">
                <div class="h1banner6part1"></div>
                <div class="h1banner6part2">
                    <h1 class="hbanner6text">Frequently Asked Questions</h1>
                </div>
            </div>
            <div class="pluspart">
                <div class="firstplustpart">
                    <div class="frstpluspart1">
                        <h1 class="plus">what is Netflix? </h1>
                    </div>
                    <div class="frstpluspart2"><span id="puls_symbol">+</span></div>
                </div>
                <div class="firstplustpart">
                    <div class="frstpluspart1">
                        <h1 class="plus">How much does Netflix cost? </h1></div>
                    <div class="frstpluspart2"><span id="puls_symbol">+</span></div>
                </div>
                <div class="firstplustpart">
                    <div class="frstpluspart1">
                        <h1 class="plus">Where can I watch? </h1></div>
                    <div class="frstpluspart2"> <span id="puls_symbol">+</span></div>
                </div>
                <div class="firstplustpart">
                    <div class="frstpluspart1">
                        <h1 class="plus">What can I watch on Netflix?</h1>
                    </div>
                    <div class="frstpluspart2"><span id="puls_symbol">+</span></div>
                </div>
                <div class="firstplustpart">
                    <div class="frstpluspart1"><h1 class="plus">How do I cancel? </h1></div>
                    <div class="frstpluspart2"> <span id="puls_symbol">+</span></div>
                </div>
                <div class="firstplustpart">
                    <div class="frstpluspart1"> <h1 class="plus">Is Netflix good for kids? </h1>
                    </div>
                    <div class="frstpluspart2"> <span id="puls_symbol">+</span> </div>
                </div>
            </div>
            <div class="emailbanner6part">
                <p class="subsubtitlebanner6">Ready to watch? Enter your email to create or restart your membership.
                </p>
                <!-- Email area and button  -->
                <div class="inputtextbanner6">
                    <div class="input"><input type="text" class="input_text" placeholder="Email Address"></div>
                    <div class="getstartbanner6"><button class="buttongetstart"><span class="start">Get started
                                ></span> </button></div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="banner7">
        <hr>
        <div class="banner7part1">
        </div>
        <div class="banner7part2">
            <div class="banner7part2a">
                <p class="textlast">Questions? Call 000-800-040-1843</p>
            </div>
            <div class="banner7part2b">
                <table width="70%">

                    <head>
                    </head>

                    <body color=#303030;>
                        <tr class="tablerow">
                            <td>FAQ</td>
                            <td>Help Centre</td>
                            <td>Account</td>
                            <td>Media Centre</td>
                        </tr>
                        <tr class="tablerow">
                            <td>Investor Relations</td>
                            <td>Jobs</td>
                            <td>Ways to Watch</td>
                            <td>Terms of Use</td>
                        </tr>
                        <tr class="tablerow">
                            <td>Privacy</td>
                            <td>Cookie Preferences</td>
                            <td>Corporate Information</td>
                            <td>Contact Us</td>
                        </tr>
                        <tr class="tablerow">
                            <td>Speed Test</td>
                            <td>Legal Notices</td>
                            <td>Only on Netflix</td>
                            <td></td>
                        </tr>
                    </body>
                </table>

            </div>
            <div class="banner7part2c">
                <div class="selectbox1">
                    <p class="englishtext">
                        <img class="languagepng" src="../static/img/language.png" alt="">English
                        <img src="../static/img/arrow.png" alt="" class="arrow">
                    </p>
                </div>
                <div>
                    <p class="netflixindia">Netflix India</p>
                </div>
            </div>
        </div>
</body>

</html>